header {
  background-color: #9C27B0;
  color: snow;
  padding-left: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0px -3px 11px 6px #9c27b0c7;
}

body {
  background-color: rgba(155, 39, 176, 0.562);
  ;
  font-family: 'Abril Fatface', cursive;
}

main {
  background-color: white;
  padding: 16px;
}

.finstagram-post {
  margin-bottom: 48px;
}

.finstagram-post .user-info img {
  border-radius: 50%;
}

a.photo:hover{
  padding: 10px;
}

a.photo {
  transition: padding 0.5s;
  box-shadow: 1px 1px 1px 1px;
}