header {
  background-color: darkred;
  color: snow;
  padding-left: 20px;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  box-shadow: 0px -3px 11px 6px rgb(136, 47, 47);
}

body {
  background-color: orange;
  font-family: 'Abril Fatface', cursive;
}

main {
  background-color: white;
  padding: 16px;
}

.finstagram-post {
  margin-bottom: 48px;
}

.finstagram-post .user-info img {
  border-radius: 50%;
}

a.photo:hover{
  padding: 10px;
}

a.photo {
  transition: padding 0.5s;
  /* box-shadow: 1px 1px 1px 1px; */
}

.full-form {
  background-color: snow;
  width: 400px;
  margin-left: auto;
  margin-right: auto;
  border: solid 2px darkred;
  padding: 5px;
  border-radius: 20px 60px;
}

.top-bar-content {
  color: black;
  padding: 10px;
}

.header-not-home {
  color: white;
}