<h2>New Post</h2>
<ul class="errors">
  <% @finstagram_post.errors.full_messages.each do |message| %>
    <li><%= message %></li>
  <% end %>
</ul>

<p></p>
<form action="/finstagram_posts" Method="POST" class="full-form">
  <p></p>
  <div class="form-group">
    <label for="photo_url">Photo URL</label>
    <input type="text" id="photo_url" name="photo_url">
  </div>
  <div class="form-group">
    <button class="button" type="submit">Upload</button>
  </div>
</form>